<!doctype html>
<html lang="en">

<style>
    body {
        background-color: rgb(156, 145, 115);
        height: 100%;
    }

    h1 {
        text-align: center;
        color: rgb(138, 109, 72);
        font-size: 5rem;
        position:inherit;
    }

    p {
        text-align: center;
        font-size: 3rem;
        border-style: inset;
        border-width: 1rem;
        border-color: rgb(138, 109, 72);
        display: inline-block;
        margin-left: 35%;
        margin-right: 35%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: inherit;
    }

    a, a:link {
        color: black;
    }
</style>

<head>
	<meta charset="utf-8" />
	<title>CoolReads</title>
</head>

<body>
    <div>
	<h1><u>COOLREADS</u></h1>
    <br><br>
    <p>
        <a href="/review"><b>Review a Book</b></a><br><br>
        <a href="/list"><b>My Books</b></a><br><br>
        <a href="/bestsellers"><b>Check Out Bestsellers</b></a>
    </p>
    </div>
</body>

</html>