<!doctype html>
<html lang="en">
    <style>
        body {
            background-color: rgb(156, 145, 115);
        }
    </style>
    <head>
        <meta charset="utf-8" />
        <title>CoolReads</title>
    </head>

    <body>
        <form action="<%= lnk %>" method="post">
            <input type="submit" value="Print My Books"/>
        </form>
    </body>
</html>